/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --bg-image: url('../images/cover-image-light.png');
  --bg-color:rgba(255, 241, 247, 1);
  --decor-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --main-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --sections-description-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --button-state-color: rgba(50, 49, 45, 0.4);
  --link-color: rgba(255, 141, 203, 1);
  --REC-color: transparent;
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь боль
    ший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
  --bg-color:rgba(255, 241, 247, 1);
  --decor-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --main-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --sections-description-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --button-state-color: rgba(50, 49, 45, 0.4);
  --link-color: rgba(255, 141, 203, 1);
  --REC-color: transparent;
}
}
